<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:component-scan base-package="cn.edu.hdu.lab505.innovation.*"/>

    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据源 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置hibernate SessionFactory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hiberante.format_sql">true</prop>

            </props>
        </property>
        <!-- mappingDirectoryLocations 指定映射文件目录 -->
        <!--<property name="mappingDirectoryLocations">
            <list>
                <value>classpath:cn/edu/hdu/grs/tdlab/remedy/domain/hbm/</value>
            </list>
        </property>-->
        <property name="packagesToScan">
            <list>
                <value>cn.edu.hdu.lab505.innovation.domain.domain</value>
            </list>
        </property>

    </bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- 定义CacheManager -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <!-- 指定配置文件的位置 -->
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <!-- 指定新建的CacheManager的名称 -->
        <property name="cacheManagerName" value="cacheManagerName"/>
    </bean>

    <!-- 定义一个Ehcache -->
    <bean id="tokenCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheName" value="token"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    <!-- 定义一个Ehcache -->
    <bean id="accountCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheName" value="account"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!-- shiro filter -->
    <!--	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
            <property name="securityManager" ref="securityManager"/>
            <property name="loginUrl" value="/restapi/account/login"/>
            <property name="filters">
                <util:map>
                    <entry key="statelessAuthc" value-ref="statelessAuthcFilter"/>
                </util:map>
            </property>
            <property name="filterChainDefinitions">
                <value>
                    /restapi/account/** = anon
                    /admin/** = statelessAuthc,roles[admin]
                    /** = statelessAuthc
                </value>
            </property>
        </bean>
        <bean id="statelessRealm" class="org.apache.shiro.realm.StatelessRealm">
            <property name="tokenCache" ref="tokenCache"></property>
        </bean>
        <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
            <property name="realm" ref="statelessRealm"></property>
            <property name="subjectDAO.sessionStorageEvaluator.sessionStorageEnabled" value="false"/>
            <property name="subjectFactory" ref="subjectFactory"/>
        </bean>-->
    <!-- Subject工厂 -->
    <!--<bean id="subjectFactory" class="org.apache.shiro.StatelessDefaultSubjectFactory"/>
    <bean id="statelessAuthcFilter" class="org.apache.shiro.web.filter.authc.StatelessFilter">
    </bean>-->

    <!-- Morphia-->
    <bean id="morphia" class="org.mongodb.morphia.Morphia">
        <constructor-arg>
            <set>
                <value type="java.lang.Class">cn.edu.hdu.lab505.innovation.domain.data.Document</value>
            </set>
        </constructor-arg>
    </bean>
    <bean id="mongoClient" class="com.mongodb.MongoClient">
        <constructor-arg value="${mongo.host}"/>
        <constructor-arg value="${mongo.port}"/>
    </bean>
    <bean id="datastore" class="org.mongodb.morphia.DatastoreImpl">
        <constructor-arg ref="morphia"/>
        <constructor-arg ref="mongoClient"/>
        <constructor-arg value="${mongo.dbName}"/>
    </bean>

</beans>
